@using Microsoft.AspNetCore.Identity;
@using AuthenticationAndAuthorization.Data;
@using System.Security.Claims;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="showcase">
    <div class="showcase--cta">
        <h1 class="showcase--cta--intro">Welcome <br /> @(User.Identity.Name)!</h1>
        <hr />
        <a class="showcase--cta--btn btn-secondary--rectangle" asp-controller="Student" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)">Monitor the Information</a>
    </div>
    <div class="showcase--svg">
        <img src="~/My Sass Library/img/StudentHomePage.png" />
    </div>
</div>
