
<div class="showcase">
    <div class="showcase--cta">
        <h1 class="showcase--cta--intro">Welcome <br/> @(User.Identity.Name)!</h1>
        <hr/>
        <button class="showcase--cta--btn btn-secondary--rectangle">Monitor the Information</button>
    </div>
    <div class="showcase--svg">
        <img src="~/My Sass Library/img/StudentHomePage.png" />
    </div>
</div>
