@model AuthenticationAndAuthorization.Models.ItemScore

<h1>Add Grade</h1>

<form asp-action="AddGrade" method="post">
    <input type="hidden" asp-for="ID"/>
    <input type="hidden" asp-for="Type"/>
    <label asp-for="TotalItems"></label>
    <input asp-for="TotalItems" id="totalItems" type="number" name="totalItems" value="" />
    <label asp-for="Score"></label>
    <input asp-for="Score" id="score" type="number" name="score" value="" /> 
    <button type="submit">Submit</button>
</form>