@model AuthenticationAndAuthorization.Models.StudentGrades

<form asp-action="addGrade" method="post">

    <label asp-for="Quiz1Prelim"></label>
    <input asp-for="Quiz1Prelim" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz2Prelim"></label>
    <input asp-for="Quiz2Prelim" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz3Prelim"></label>
    <input asp-for="Quiz3Prelim" type="number" name="q1Prelim" value="" />

    <label asp-for="Assignment1Prelim"></label>
    <input asp-for="Assignment1Prelim" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment2Prelim"></label>
    <input asp-for="Assignment2Prelim" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment3Prelim"></label>
    <input asp-for="Assignment3Prelim" type="number" name="q1Prelim" value="" />
    
    <label asp-for="Quiz1Midterm"></label>
    <input asp-for="Quiz1Midterm" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz2Midterm"></label>
    <input asp-for="Quiz2Midterm" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz3Midterm"></label>
    <input asp-for="Quiz3Midterm" type="number" name="q1Prelim" value="" />

    <label asp-for="Assignment1Midterm"></label>
    <input asp-for="Assignment1Midterm" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment2Midterm"></label>
    <input asp-for="Assignment2Midterm" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment3Midterm"></label>
    <input asp-for="Assignment3Midterm" type="number" name="q1Prelim" value="" />

    <label asp-for="Quiz1Prefinal"></label> 
    <input asp-for="Quiz1Prefinal" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz2Prefinal"></label>
    <input asp-for="Quiz2Prefinal" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz3Prefinal"></label>
    <input asp-for="Quiz3Prefinal" type="number" name="q1Prelim" value="" />

    <label asp-for="Assignment1Prefinal"></label>
    <input asp-for="Assignment1Prefinal" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment2Prefinal"></label>
    <input asp-for="Assignment2Prefinal" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment3Prefinal"></label>
    <input asp-for="Assignment3Prefinal" type="number" name="q1Prelim" value="" />
    
    <label asp-for="Quiz1Final"></label>
    <input asp-for="Quiz1Final" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz2Final"></label>
    <input asp-for="Quiz2Final" type="number" name="q1Prelim" value="" />
    <label asp-for="Quiz3Final"></label>
    <input asp-for="Quiz3Final" type="number" name="q1Prelim" value="" />

    <label asp-for="Assignment1Final"></label>
    <input asp-for="Assignment1Final" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment2Final"></label>
    <input asp-for="Assignment2Final" type="number" name="q1Prelim" value="" />
    <label asp-for="Assignment3Final"></label>
    <input asp-for="Assignment3Final" type="number" name="q1Prelim" value="" />

    <button type="submit">Submit</button>
</form>