
<div class="showcase">
    <div class="showcase--cta">
        <h1 class="showcase--cta--intro">Welcome <br/> Admin!</h1>
        <hr/>
        

        <a class="showcase--cta--btn btn-secondary--rectangle" asp-controller="Authenticate" asp-action="AddStudent">Sign Your Student Up! </a>
       
    </div>
    <div class="showcase--svg">
        <img src="~/My Sass Library/img/AdminHomePage.png" />
    </div>
</div>
